# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=data_engineer_db
DB_USER=postgres
DB_PASSWORD=your_password_here

# Pipeline File Paths
RAW_DATA_PATH=data/raw/raw_sales_data.csv
PROCESSED_DATA_PATH=data/processed/clean_sales_data.csv
REJECTED_DATA_PATH=data/rejected/rejected_records.csv

# AWS S3 Configuration (Free Tier)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
S3_BUCKET_NAME=associate-data-engineer-pipeline-bucket